<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO Application</title>
</head>
<body>


  <div>
      <h1> TODO APPLICATION</h1>
      <br />
      <form action="/" method="post">
          <div>
              <input type="text" name="title" placeholder="Add a new Task" required>
          </div>
          <div>
              <button type="submit">Add</button>
          </div>

      </form>

      <th:block th:each="task: ${tasks}" >
        <div>
            <span th:text="${task.title}">Task Title</span>
        </div>

      </th:block>
  </div>
</body>
</html>